// global values
$color-warning: #e70e02;
$color-warning-hover: #be0d03;
$color-alert: #ffcc00;
$color-alert-hover: #eebf04;
$color-white: #FBF6F0;
$color-black: #000;

// principal values
$color-primary: #34143B;
$color-primary-hover: #471e50;
$color-secondary: #132345;
$color-secondary-hover: #1b2f5a;
$color-success: #047A50;
$color-success-hover: #108d61;

// Color gradients
// Pruple
$color-purple-100: #240046;
$color-purple-80: #3C096C;
$color-purple-60: #5A189A;
$color-purple-40: #7B2CBF;
$color-purple-20: #9D4EDD;

// Orange
$color-orange-100: #FF6D00;
$color-orange-80: #FF7900;
$color-orange-60: #FF8500;
$color-orange-40: #FF9100;
$color-orange-20: #FF9E00;

// Gray
$color-gray-100: #666;
$color-gray-80: #888;
$color-gray-60: #aaa;
$color-gray-40: #bbb;
$color-gray-20: #ddd;
